/***********
 * General *
 ***********/
body {
    background-color: #e4e1df;
    padding-top: 65px;
    font-family: Arial, Verdana, Tahoma, sans-serif;
}

/****************
 * Main Content *
 ****************/
.container-fluid {
    color: #333333;
    font-size: 18px;
}

.container-fluid h1 {
    background-color: #00274c;
    /* color: #eff0f1; */
    color: #ffcb05;
    padding: 10px 10px;
}

.row {
    /* border: 1px solid red; */
    margin-bottom: 10px;
}

/* Add an invisible target before
   anchor links so navbar doesn't
   block content */
:target::before {
    content: "";
    display: block;
    margin-top: -70px;
    height: 70px;
    width: 1px;
}

/* Side Padding */
@media (min-width: 768px) {
    .px-md-6 {
        padding-left: 12.5% !important;
        padding-right: 12.5% !important;
    }
}