/***********
 * General *
 ***********/
html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e4e1df;
    padding-top: 65px;
}

/****************
 * Main Content *
 ****************/
/* .main {
    color: #333333;
    font-size: 16px;
}

.main h1 {
    background-color: #00274c;
    color: #eff0f1;
    padding: 10px 10px;
} */

.container-fluid {
    color: #333333;
    font-size: 18px;
}

.container-fluid h1 {
    background-color: #00274c;
    /* color: #eff0f1; */
    color: #ffcb05;
    padding: 10px 10px;
}

.row {
    /* border: 1px solid red; */
    margin-bottom: 10px;
}

/* Add an invisible target before
   anchor links so navbar doesn't
   block content */
:target::before {
    content: "";
    display: block;
    margin-top: -70px;
    height: 70px;
    width: 1px;
}

@media (min-width: 768px) {
    .px-md-6 {
        padding-left: 12.5% !important;
        padding-right: 12.5% !important;
    }
}

/* .main img {
    width: 100%;
    height: auto;
} */

/**********************
 * Navbar & Subnavbar *
 **********************/
/* .navbar {
    overflow: hidden;
    background-color: #00274c;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    border: none;
    outline: none;
    color: #eff0f1;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size: 20px;
}

.subnav .subnavbtn-active {
    border: none;
    border-bottom: 5px solid #ffcb05;
    padding-bottom: 9px;
    outline: none;
    color: #ffcb05;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size: 20px;
}

.navbar a {
    float: left;
    color: #eff0f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a.active {
    background-color: #00274c;
    color: #ffcb05;
    border-bottom: 5px solid #ffcb05;
    padding-bottom: 9px;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #ffcb05;
    color: #00274c;
    font-size: 20px;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #ffcb05;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: #00274c;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #e5e5e5;
    color: #00274c;
}

.subnav:hover .subnav-content {
    display: block;
} */