/***********
 * General *
 ***********/
body {
    background-color: #E8EEF2;
    padding-top: 65px;
    font-family: Arial, Verdana, Tahoma, sans-serif;
}

/****************
 * Main Content *
 ****************/
.my-nav {
    background: #00274C;
    font-size: 18px;
}

.my-nav .nav-link {
    color: #FFCB05;
}

.my-nav .nav-link:hover {
    color: #30C5FF;
}

.my-nav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 39, 76, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.my-nav .navbar-toggler {
    background: #FFCB05; /* pick your color */
}

.container-fluid {
    color: #000000;
    font-size: 18px;
}

.container-fluid h1 {
    padding: 10px 10px;
    background: #00274C;
    color: #FFCB05;
}

.row {
    /* border: 1px solid red; */
    margin-bottom: 10px;
}

/* Add an invisible target before
   anchor links so navbar doesn't
   block content */
:target::before {
    content: "";
    display: block;
    margin-top: -80px;
    height: 80px;
    width: 1px;
}

/* Side Padding */
@media (min-width: 768px) {
    .px-md-6 {
        padding-left: 12.5% !important;
        padding-right: 12.5% !important;
    }
}