<!DOCTYPE html>
<html lang="en" color-mode="light">
  <head>
    <!--Required meta tags-->
    <meta charset="utf-8" />
    <meta name="author" content="Sravan Balaji" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
           href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
           integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
           crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
           integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
           crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
           integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
           crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
           integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
           crossorigin="anonymous"
    ></script>
    
    <!-- highlight.js -->
    <link
      rel="stylesheet"
           href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.1/styles/default.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.1/highlight.min.js"></script>
    <script>
     hljs.initHighlightingOnLoad();
    </script>
    
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="style.css" />
    
    <!-- Favicon -->
    <link rel="icon" href="/assets/branding/favicon.ico" type="image/x-icon" />

    <!-- Title -->
    <title>{{ title }}</title>
  </head>

  <nav class="navbar my-nav navbar-expand-md fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <img
        src="/assets/branding/logo.png"
        alt="Icon"
        width="30px"
        height="30px"
        class="d-inline-block align-top"
      />
      <img
        src="/assets/branding/name.png"
        alt="Name"
        height="30px"
        class="d-inline-block align-center"
      />
    </a>
    
    <!-- Toggler/collapsible Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <!-- About -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/about"
            id="navbardrop"
            data-toggle="dropdown"
          >
            About
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/about#bio"> Bio </a>
            <a class="dropdown-item" href="/about#contact_me">
              Contact Me
            </a>
          </div>
        </li>
        
        <!-- Portfolio -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/portfolio"
            id="navbardrop"
            data-toggle="dropdown"
          >
            Portfolio
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/portfolio#resume">
              Resume
            </a>
            <a class="dropdown-item" href="/portfolio#education">
              Education
            </a>
            <a
              class="dropdown-item"
              href="/portfolio#professional_experience"
            >
              Professional Experience
            </a>
            <!-- <a class="dropdown-item" href="/portfolio#research">
                 Research
                 </a>
                 <a class="dropdown-item" href="/portfolio#projects">
                 Projects
                 </a> -->
          </div>
        </li>
        
        <!-- Personal -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/personal"
            id="navbardrop"
            data-toggle="dropdown"
          >
            Personal
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/personal#software">
              Software
            </a>
            <a class="dropdown-item" href="/personal#hardware">
              Hardware
            </a>
            <a class="dropdown-item" href="/personal#video_games">
              Video Games
            </a>
            <a class="dropdown-item" href="/personal#podcasts">
              Podcasts
            </a>
            <a class="dropdown-item" href="/personal#music">
              Music
            </a>
          </div>
        </li>
        
        <!-- Blog -->
        <li class="nav-item">
          <a class="nav-link" href="/blog"> Blog </a>
        </li>
        
        <!-- Documentation -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/documentation"
            id="navbardrop"
            data-toggle="dropdown"
          >
            Documentation
          </a>
          <div class="dropdown-menu">
            <a
              class="dropdown-item"
              href="/documentation#introduction"
            >
              Introduction
            </a>
            <a
              class="dropdown-item"
              href="/documentation#website_hosting"
            >
              Website Hosting
            </a>
            <a
              class="dropdown-item"
              href="/documentation#web_design"
            >
              Web Design
            </a>
            <a
              class="dropdown-item"
              href="/documentation#aesthetics"
            >
              Aesthetics
            </a>
            <a
              class="dropdown-item"
              href="/documentation#inspiration"
            >
              Inspiration
            </a>
          </div>
        </li>
      </ul>
    </div>
    
    <!-- Dark Mode Toggle -->
    <!-- Reference: https://github.com/coliff/dark-mode-switch -->
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="darkSwitch" />
      <label
        class="custom-control-label"
        for="darkSwitch"
        id="darkSwitchLabel"
      >Dark Mode</label
                >
    </div>
    <script src="/scripts/dark-mode-switch.min.js"></script>
  </nav>

  <body>
    <div class="container-fluid px-md-6">
      <div class="row align-items-center">
        <div class="col-md-12">
          {{ content }}
        </div>
      </div>
    </div>
  </body>

  <footer>
    <div class="container-fluid px-md-6">
      <div class="row align-items-center">
        <div class="col-md-12">
          <small>
            Copyright &copy; 2019 Sravan Balaji under
            <a
              rel="license"
                   href="https://docs.google.com/gview?url=https://github.com/balajsra/sravanbalaji.com/raw/master/LICENSE"
                   target="_blank"
            >MIT License</a>
          </small>
        </div>
      </div>
    </div>
  </footer>
</html>
