<!doctype html>
<div class="row align-items-center">
  <div class="col-md-12">
    <h1>
      <a name="professional_experience">Professional Experience</a>
    </h1>
  </div>
</div>

{% for profExp in collections.professionalExperience %}
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <a href="{{ profExp.data.companyUrl }}" target="_blank">
          <img
            class="img-fluid mx-auto d-block"
            src="{{ profExp.data.companyLogo }}"
          />
        </a>
      </div>
      <div class="col-md-8">
        <h2><b>{{ profExp.data.companyName }}</b></h2>
        <h3>{{ profExp.data.jobTitle }}</h3>
        <h4>{{ profExp.data.workLocation }}</h4>
        <h5><i>{{ profExp.data.startDate }} - {{ profExp.data.endDate }}</i></h5>
        {{ profExp.content | safe }}
      </div>
    </div>
  </div>
  {% if collections.professionalExperienceProjects.length > 0 %}
  <div class="col-md-6">
      <div id="{{ profExp.data.id }}">
          {% for project in (collections.professionalExperienceProjects | findProjectAssociatedWithExperience(profExp.data.id)) %}
          {% set projectSlug = (profExp.data.id + '-' + project.data.name | slugify) %}
          <div class="card section-bg">
              <div class="card-header">
                  <a
                      class="card-link"
                      data-toggle="collapse"
                      href="#{{ projectSlug }}"
                  >
                      <b>{{ project.data.name }}</b>
                  </a>
              </div>
              <div
                  id="{{ projectSlug }}"
                  class="collapse"
                  data-parent="#{{ profExp.data.id }}"
              >
                  <div class="card-body">
                      {{ project.content | safe }}
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
  {% endif %}
</div>
{% endfor %}